@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

body {
    background: linear-gradient(to left, lightpink, lightblue);
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px
}

    .wrap .shop-hidden {
        position: absolute;
        top: 32px;
        left: 32px;
        display: none;
        width: 96px;
        height: 96px;
        border: 1px solid red;
    }

        .wrap .shop-hidden.active {
            display: block;
        }

.middle-text {
    width: 100%;
    margin-top: 300px;
    text-align: center;
    color: #4C4E52;
    font-size: 34px;
    font-family: 'Open Sans'
}

.side-panel {
    width: 98.69%;
    height: 600px;
    flex-shrink: 0;
    padding: 20px;
    color: #fff;
    background: #19191a;
    margin-top: 500px;
    margin-left: -10px;
}

    .side-panel h1 {
        text-align: center;
        margin-top: 30px;
        font-size: 40px;
    }

    .side-panel div {
        margin-top: 100px;
    }

        .side-panel div h1 {
            margin-top: 100px;
            font-size: 30px;
        }

        .side-panel div p {
            color: #bdbdbd;
            margin-top: 20px;
        }

    .side-panel .container {
        margin-left: 290px;
        margin-top: 20px;
    }

        .side-panel .container .box {
            border-radius: 10px;
            position: relative;
            width: 330px;
            height: 200px;
            background: #1c1c1d;
            float: left;
            margin: 15px;
        }

            .side-panel .container .box .content {
                text-align: left;
                margin-left: 20px;
                margin-top: 20px;
                font-size: 25px;
            }

                .side-panel .container .box .content p {
                    margin-top: 30px;
                    font-size: 15px;
                    color: #8f8f9f;
                }

                .side-panel .container .box .content .button {
                    background: linear-gradient(to left, lightpink, lightblue);
                    border: none;
                    border-radius: 8px;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 0 30%;
                    cursor: pointer;
                    align-items:center;
                }

